@media only screen and (min-width:200px){

    canvas {
        display: block;
    }

    .header{
        background-color:grey;
        margin:-20px;
        padding-top:30px;
        height:70px;
        color:white;
        text-align:center;
        font-size:35px;
        opacity:0.8;
    }
}